@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron animated lightSpeedIn">
    <h1>Dummy College</h1>
    <p class="lead">This Dummy College Website is managed by admin who is the master faculty aka like a dean figure who can manage all database</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

    <div class="row animated rubberBand">
        
            <div class="col s8 m4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Email By SMTP</span>
                        <p>
                            Students as well as Admin both can use email service to send email to each other.Students already know the email to conatact the admin for any changes or requests.
                        </p>
                    </div>
                </div>
            </div>
        
            <div class="col s8 m4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">See Result</span>
                        <p>
                            See Result will enable any student to find his/her name in dropdownlist and view his/her result with his/her average performance.
                        </p>
                    </div>
                </div>
            </div>

        <div class="col s8 m4">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Admin</span>
                    <p>
                        Admin has the power to perform CRUD operations to all the tables namely Student,Branch,Course and Marks.
                        There is one and only one supreme admin of this page.It is believed all faculties are supposed to give all data to admin to manage the college database.
                    </p>
                </div>
            </div>
        </div>
        </div>   