
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />

@if (ViewBag.Error != null)
{
    <h2>@ViewBag.Error</h2>
}

<h2>Form</h2>
<div class="container">
    <form method="POST" action="Form">
        <span class="form-control-static">
            Receiver Email:
        </span>
        <input type="text" name="recieverEmail" class="form-control" />
        <span>
            Subject:
        </span>
        <input type="text" name="subject" class="form-control" />
        <span class="form-control-static">
            Message:
        </span>
        <input type="text" name="message" class="form-control" />
        <br />
        <br />
        <button type="submit" class="btn btn-primary">Send Email</button>
    </form>
</div>

